@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/roboto-slab.woff2') format('woff2'),
       url('fonts/roboto-slab.woff') format('woff');
  font-weight: 1;
  font-style: normal;
}


.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 23%;
}

.nav {
  margin-top: 67px;
}

.nav li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

#slider {
  height: 850px;  
}



.top-six {
  text-align: center;
  padding: 25px 0;
  max-width: 2500px;
}

.top-six ul {
  margin: 0;
}

.top-six ul li {
  display: inline-block;
  width: 13%;
  vertical-align: top;
}

.top-six ul li div {
  color: #324950;
  font-size: 19px;
  margin: 15px 20px 0;
}

.home-big {
  background: #f5f5f5;
  background-size: 100%;
  background-position: center;
  font-size: 20px;
  color: #324950;
}

.home-big .title {
  font-size: 64px;
  line-height: 64px;
  color: #324950;
  margin: 10px 0 0;
}




.col-xs-6 {
    width: 50%; 
    float: left; 
    box-sizing: border-box; 
}

.col-xs-6 img {
    max-width: 100%; 
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #324950;
}

p {
    color: #324950;
}












.categories .title {
  font-size: 64px;
  line-height: 64px;  
  font-weight: bold;
  color: #324950;
  margin: 0 0 50px;
}

.categories {
  margin: 0 auto; 
  max-width: 2000px; 
  color: #324950;
  text-align: center; 
}

.cat {
  display: inline-block; 
  margin: 0 auto;
  list-style: none;
  margin-bottom: 20px; 
}

.categories .cat .name li::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background-color: green; 
  margin-top: 10px; 
  margin-bottom: 10px; 
}












.footer .row {
  background: #2d3f45;
  padding: 25px 0;
  text-align: center; 
}

.footer .row ul {
  margin: 0;
}

.footer .copy {
  float: left;
  font-size: 16px;
  margin: 20px 0 0;
}

.footer .fotter-credit {
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  color: #b9b9b9;
  background: #324950;
}

#bottom-menu .nav.menu li {
  text-align: center; 
  margin-right: 10px; 
  color: white; 
}

#bottom-menu ul {
  display: inline-block;
}

#bottom-menu ul li {
  display: inline-block; 
  margin-left: 10px; 
}





